<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Добавить книгу</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Добавить книгу</h1>
    <form action="/add_book" method="post">
        <label for="title">Название:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="content">Содержание:</label><br>
        <textarea id="content" name="content"></textarea><br>
        <input type="submit" value="Добавить">
    </form>
</body>
</html>
